.row-apply{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.button-approve{
    width: 149px;
    height: 37px;
    border-radius: 5px;
    background: #5387B8;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.34px;
    cursor: pointer;
    }

    .button-reject{
        width: 149px;
        height: 37px;
        border-radius: 5px;
        background: #B21414;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.34px;
        cursor: pointer;
        }
.title{
    text-align: center;
}