input {
    height: 55px;
    border: none;
    width: 250px;
    font-size: 20px;
    font-weight:500;
    border-radius: 8px 0px 0px 8px;
}

button {
    border: none;
    background-color: white;
    height: 57px;
    border-radius: 0px 8px 8px 0px;
}

i {
    font-size: 35px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}