

<mat-toolbar class="main-nav">
    <svg xmlns="http://www.w3.org/2000/svg" width="79" height="81" viewBox="0 0 79 81" fill="none">
        <ellipse cx="39.5" cy="40.5" rx="39.5" ry="40.5" fill="#D9D9D9"/>
      </svg>
        <span class="example-spacer"></span>
        <app-searchbar></app-searchbar>
        <dropdown-menu></dropdown-menu>
        <span class="example-spacer"></span>
        <a href="#">
        <button mat-fab extended>
            <mat-icon>home</mat-icon>
            Home
          </button>
        </a>
        <a href="#">
        <button mat-fab extended>
            <mat-icon>track_changes</mat-icon>
            Opportunities
          </button>
        </a>
</mat-toolbar>
