<app-navbar></app-navbar>

<div class="cont">
    <div class="col saved">
        <h2>Saved</h2>
        <app-saved></app-saved>
    </div>
    <div class="col opportunities">
        <h2>Opportunities</h2>
        <app-opportunities></app-opportunities>
    </div>
    <div class="col applications">
        <div class="row-main">
        <h2>Applications</h2>
        <h2>Apply</h2>
        </div>
        <app-application></app-application>
    </div>

</div>



<router-outlet></router-outlet>





