/* .mat-card{
  width: 50%;
} */
.title_center {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

button {
  background-color: rgb(207, 207, 207);
  align-content: center;
  width: 100%;
  
}