.row-meet{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.cont-meet{
    /* border: 2px solid black; */
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: rgb(237, 237, 237)
}

.pending{
    color: red;
}

.approved{
    color: green;
}