@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.professor-list {
    display: flex;
    flex-wrap: wrap;
}

.professor-card {
    margin: 1rem;
}

.cal-image {
    width: 1.5rem;
}

.prof-image {
    width: 15rem;
}