<!-- create-profile.component.html -->
<div class="container">
    <!-- Left Section -->
    <div class="left-section">
        <img src="assets/my-image.png" alt="User Image" class="user-image">
        <br><br>
        <div class="links">
            <a routingLink="/create-profile" class="profile-link">Dashboard</a>
            <!-- <a href="#" class="profile-link">Time-Table</a>
            <a href="#" class="profile-link">Meetings</a> -->
        </div>
    </div>
    <!-- Right Section -->
    <div class="right-section">
        <form class="profile-form">
            <div class="form-field">
                <label for="username">Username:</label>
                <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="username" placeholder="Enter username">
            </div>
            <div class="form-field">
                <label for="email">Email:</label>
                <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" id="email" name="email" placeholder="Enter email">
            </div>
            <div class="form-field">
                <label for="password">Password:</label>
                <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="password" name="password" placeholder="Enter password">
            </div>
            <div class="form-field">
                <label for="role">Role:</label>
                <input type="text" [(ngModel)]="role" [ngModelOptions]="{standalone: true}" id="role" name="role" placeholder="Enter role">
            </div>
            <div class="form-field">
                <label for="roomNo">Room No:</label>
                <input type="text" [(ngModel)]="roomno" [ngModelOptions]="{standalone: true}" id="roomNo" name="roomNo" placeholder="Enter room number">
            </div>
            <div class="form-field">
                <label for="research">Research:</label>
                <textarea id="research" [(ngModel)]="research" [ngModelOptions]="{standalone: true}" name="research" placeholder="Enter research details"></textarea>
            </div>
            <div class="form-field">
                <label for="education">Education:</label>
                <textarea id="education" [(ngModel)]="education" [ngModelOptions]="{standalone: true}" name="education" placeholder="Enter education details"></textarea>
            </div>
            <div class="form-field">
                <label for="workExperience">Work Experience:</label>
                <textarea [(ngModel)]="workexperience" [ngModelOptions]="{standalone: true}" id="workExperience" name="workExperience" placeholder="Enter work experience details"></textarea>
            </div>
            <div class="form-field">
                <label for="awards">Awards:</label>
                <textarea [(ngModel)]="awards" [ngModelOptions]="{standalone: true}" id="awards" name="awards" placeholder="Enter awards details"></textarea>
            </div>
            <button type="submit" (click)="Onsubmit()">Submit</button>
        </form>
    </div>
</div>




  
  
  
  
  
  
