/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.professor-list {
    display: flex;
    flex-wrap: wrap;
}

.professor-card {
    margin: 1rem;
}

.cal-image {
    width: 1.5rem;
}

.prof-image {
    width: 10rem;
}
